<div class="container">
  <img class="logo" src="assets/logo-with-text.png" style="margin-left: -60px">
  <h1>Welcome!</h1>
  <p>Welcome to Smart Home!</p>
  <div class="content-wrapper">
    <div class="content">
      <h2>Properties</h2>
      <p>Follow the state of devices in your properties. Visit your properties right now!</p>
      <button mat-raised-button routerLink="properties/all" class="btn" color="accent">Visit Your Properties</button>
    </div>
    <img src="assets/homepage/home.jpg">
  </div>
</div>


