<nav>
  <div class="container">
    <div class="row" style="justify-content: space-between;">
      <a id="logo" class="navbar-logo" routerLink="/">
        <img src="../../../favicon.ico" alt="Smart Home">
        <h1>Smart Home</h1>
      </a>
      <button class="toggle-button" [ngClass]="showMobileMenu ? 'active' : null" (click)="toggleMobileMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="row" style="justify-content: center">
      <div class="menu" [ngClass]="showMobileMenu ? 'show' : null">
        <a *ngIf="!userRole" routerLink="/auth/login">Login</a>
        <a *ngIf="!userRole" routerLink="/auth/sign-up">Sign Up</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/admin/security/csr/pending">CSRs</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/admin/security/certificate/all">Certificates</a>
        <a *ngIf="userRole" routerLink="/auth/login" (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
</nav>
