<div class="mat-elevation-z3" [ngClass]="welcomingPageIsActive ? 'image-container' : 'hide'">
  <div class="glass-overlay"></div>
  <div class="image-content">
    <h2>Home comes with you</h2>
    <h4>We will provide you service to keep track of your smart home and devices within it</h4>
    <div class="row" style="justify-content: flex-start">
      <a routerLink="/auth/login" class="btn" mat-flat-button color="accent">Login</a>
      <a routerLink="/auth/sign-up" class="btn" mat-flat-button color="primary">Sign Up</a>
    </div>
  </div>
</div>
<nav [ngClass]="welcomingPageIsActive ? 'glass':null">
  <div class="container">
    <div class="row" style="justify-content: space-between;">
      <a id="logo" class="navbar-logo" routerLink="/">
        <img src="../../../assets/logo-with-text.png" alt="Smart Home">
      </a>
      <button class="toggle-button" *ngIf="!welcomingPageIsActive" [ngClass]="showMobileMenu ? 'active' : null"
              (click)="toggleMobileMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="row" style="justify-content: center">
      <div class="menu" [ngClass]="{'glass': welcomingPageIsActive , 'show': showMobileMenu}">
        <a *ngIf="!userRole && !welcomingPageIsActive" routerLink="/auth/login">Login</a>
        <a *ngIf="!userRole && !welcomingPageIsActive" routerLink="/auth/sign-up">Sign Up</a>
        <a *ngIf="userRole" routerLink="/properties/all">Properties</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/admin/users/all">Users</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/admin/alarms/all">Alarms</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/admin/security/csr/pending">CSRs</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/admin/security/certificate/all">Certificates</a>
        <a *ngIf="userRole" routerLink="/auth/login" (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
</nav>
