<mat-card class="form">
  <mat-card-header class="form">
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>

  <mat-card-content class="form">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <section>
        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>User Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="OWNER">Owner</mat-option>
              <mat-option value="TENANT">Tenant</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Email is a mandatory field</mat-error>
            <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">Email is invalid</mat-error>
          </mat-form-field>
        </div>

        <div class="input-row">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password"
                   formControlName="password">
            <button mat-icon-button matSuffix
                    [matTooltip]="hidePassword ? 'Show password' : 'Hide password'"
                    (click)="toggleShowPassword($event)">
              <mat-icon [svgIcon]="hidePassword ? 'showPassword' : 'hidePassword'"></mat-icon>
            </button>
            <mat-hint>Password should have 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character and be
              long at least 12 characters.
            </mat-hint>
            <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">Password is a mandatory field
            </mat-error>
            <mat-error *ngIf="signUpForm.controls['password'].hasError('pattern')">Password should have at least 1
              uppercase letter, 1 lowercase letter, 1 number, 1 special character and be
              long at least 12 characters.
            </mat-error>
          </mat-form-field>
        </div>
      </section>

      <div class="button-row">
        <button mat-raised-button class="btn" color="primary">Sign Up</button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-footer class="form">
    <div class="divider-row">
      <div class="line"></div>
      <div class="or">OR</div>
      <div class="line"></div>
    </div>

    <div class="question-row">
      Already have an account?
    </div>

    <div class="button-row">
      <button routerLink="/auth/login" mat-raised-button class="btn" color="accent">Log In</button>
    </div>
  </mat-card-footer>
</mat-card>

