footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e0e0e0;
  text-align: center;
  min-height: 60px;
  padding-bottom: 50px;
  padding-top: 50px;
}

footer p {
  display: block;
  margin: 0;
  padding: 10px 0;
}
