@import "src/app/users/components/users/users.component";

.col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  margin-top: 15%;
}

.button-row > button {
  margin-left: 5%;
}

a.btn {
  color: $Smart-home-frontend-dark-gray;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
  text-align: center;
  align-self: center;
}

a.btn:hover {
  color: $Smart-home-frontend-green;
  text-decoration: 2px $Smart-home-frontend-green underline;
}
