<mat-tab-group class="property-tabs" mat-stretch-tabs="true" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="members"></mat-icon>
      Devices
    </ng-template>
    <div class="input-row" [formGroup]="newDeviceForm">
      <mat-form-field appearance="fill">
        <mat-label>New Device</mat-label>
        <input
          matInput
          formControlName="name"
        />
        <button matTooltip="Add Device" type="button" matSuffix mat-icon-button (click)="addDevice()">
          <mat-icon svgIcon="add-device"></mat-icon>
        </button>
      </mat-form-field>
    </div>
    <app-property-devices-card *ngFor="let device of devices" [device]="device">
    </app-property-devices-card>
  </mat-tab>
</mat-tab-group>
