@import "src/app/properties/components/properties/properties.component";

.input-row {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}
