<mat-tab-group class="property-tabs" mat-stretch-tabs="true" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="members"></mat-icon>
      Devices
    </ng-template>
    <div class="input-row" >
      <mat-form-field appearance="fill">
        <mat-label>New Device</mat-label>
        <input
          matInput
          formControlName="email"
        />
        <button matTooltip="Add Member" type="button" matSuffix mat-icon-button>
          <mat-icon svgIcon="add-member"></mat-icon>
        </button>
<!--        <mat-autocomplete #users="matAutocomplete">-->
<!--          <mat-option-->
<!--            *ngFor="let user of users$ | async"-->
<!--            [value]="user.email"-->
<!--            (onSelectionChange)="userIdGroup.get('id')?.setValue(user.id)"-->
<!--          >-->
<!--            {{ user.email }}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
      </mat-form-field>
    </div>
    <app-property-devices-card *ngFor="let device of devices" [device]="device">
    </app-property-devices-card>
  </mat-tab>
</mat-tab-group>
