.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


.attributes-container {
  display: flex;
  margin-top: 3%;
}

.attribute-container {
  display: flex;
}
