<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar [svgIcon]="isOwner ?'owner':'account-avatar'"></mat-icon>
    <mat-card-title>{{member.email}} <span style="font-weight: lighter">{{isOwner ? "(Owner)" : ""}}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span class="attribute-container">
      <span class="attribute-name">Role</span>
      <span class="attribute-value">{{member.role | titlecase}}</span>
    </span>
  </mat-card-content>
  <mat-card-actions *ngIf="!isOwner" align="end">
    <button mat-button color="warn" (click)="removeMember()">
      <mat-icon class="red-btn-icon" svgIcon="remove-member"></mat-icon>
      <span>Remove</span>
    </button>
  </mat-card-actions>
</mat-card>
