<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar [svgIcon]="getDeviceIcon(this.device)"></mat-icon>
    <mat-card-title>Alarm for {{alarm.alarmType.toString().replace("_", " ") | lowercase}}
    </mat-card-title>
    <mat-card-subtitle>{{device.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="attributes-container">
       <span class="attribute-container" style="width: 45%">
        <span class="attribute-name">Value:</span>
        <span class="attribute-value">{{alarm.value}} {{alarm.alarmType.toString().includes('TEMPERATURE')? "&deg;C": "bar"}}</span>
       </span>
      <span class="attribute-container">
        <span class="attribute-name">Time:</span>
        <span class="attribute-value">{{alarm.time | date:'dd.MM.yyyy HH:mm'}}</span>
       </span>
    </div>
  </mat-card-content>
</mat-card>
