<mat-card>
  <mat-card-content>
    <h1>Users</h1>
    <div class="users">
      <mat-icon svgIcon="account-avatar"></mat-icon>
      <p class="users-number">{{usersCount}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card>
      <mat-card-content>
        <h2>Properties</h2>
        <p>{{propertiesCount}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2>Devices</h2>
        <p>{{devicesCount}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2>Alarms</h2>
        <p>{{alarmsCount}}</p>
      </mat-card-content>
    </mat-card>
  </mat-card-footer>
</mat-card>
